@{
    Layout = "";
}

<html>
<head>
    <title>NERVE ADMIN CONSOLE V1</title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link href="~/Scripts/Css/default.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <link href="~/Scripts/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">
        $('activity').on('click', function (event) {
            alert("in here");
        });

        $(document).ready(function () {
            var pmUrl = 'http://127.0.0.1:7098/api/v2/app.management.api/status';
            $.ajax({
                crossDomain: true,
                url: pmUrl,
                type: 'POST',
                dataType: 'jsonp',
                jsonpCallback: 'callback',
                success: function (bundles) {


                    $.each(bundles.Routes, function () {
                        var route = this;

                        var tdName = $("<td/>");
                        var tdGroupId = $("<td/>");
                        var tdModel = $("<td/>");
                        var tdState = $("<td/>");
                        var tdAction = $("<td/>");

                        var color;
                        if (route.BundleState == 'Active') {
                            color = "label label-success";
                        } else {
                            color = "label label-danger";
                        }

                        tdName.append("</span> <span style='width: 400px; text-decoration: underline'>" + route.Name + "</span>");
                        var version = "<button class=\"btn btn-primary\" type=\"button\">" +
                                          "<span class=\"badge\">" + route.Model + "</span>" +
                                       "</button>";
                        tdGroupId.append("<b>[</b> " + route.GroupId + " <b>]</b>");
                        tdModel.append(version);
                        tdState.append("<span class=\"" + color + "\">" + route.BundleState + "</span>");



                        var statusMsg = "";

                        if (route.BundleState == "Active") {
                            statusMsg = "Pause Bundle";
                        } else {
                            statusMsg = "Resume";
                        }

                        var msg = "<div class=\"btn-group\" role=\"group\" aria-label=\"...\">" +
                                      "<button id=\"activity\" name=\"activity\"  type=\"button\" class=\"btn btn-default\">" + statusMsg + "</button>" +
                                      "<button type=\"button\" class=\"btn btn-default\">un-install</button>" +
                                      "<button type=\"button\" class=\"btn btn-default\">info</button>" +
                                  "</div>";

                        tdAction.append(msg);

                        //if (route.BundleState == 'Active') {
                        //    tdAction.append("<a class='button' href=\"http://127.0.0.1:7098/api/v2/app.management.api/bundle.pause/" + route.GuidData + "\">Pause</a>");
                        //} else {
                        //    tdAction.append("<a class='button' href=\"http://127.0.0.1:7098/api/v2/app.management.api/bundle.start/" + route.GuidData + "\">Resume</a>");
                        //}

                        //tdAction.append("  <a class='button.other' href=\"http://127.0.0.1:7098/api/v2/app.management.api/" + route.GuidData + "\">Un-Install Bundle</a>");

                        var newRow = $("<tr/>");

                        $("#contr").append((newRow)
                            .append(tdName)
                            .append(tdGroupId)
                            .append(tdModel)
                            .append(tdState)
                            .append(tdAction));
                    });


                }
            });
        });
    </script>
</head>
<body style="margin: 0 auto; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 13px; background-color: #F8F8F8;">

    <br /><br /><br />

    <div class="panel panel-primary" style="margin: auto; width: 70%; ">
            <div class="panel-heading">
                <h3 class="panel-title">Bundle Monitor::</h3>
            </div>
        <br />
        
        <div class="well well-lg" style="margin-left: 30px; margin-right: 30px">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <b>NerveFabric</b> is Online: 4 bundles loaded, 3 active ,1 Suspended
        </div>

        <table id="contr" class="" style="margin-left: auto; margin-right: auto; border-collapse: separate; border-spacing: 3px;">
            <tr>
                <th align="center" style="width: 400px">Name::</th>
                <th align="center" style="width: 300px">GroupId::</th>
                <th align="center" style="width: 200px">Version::</th>
                <th align="center" style="width: 200px">Status::</th>
                <th align="center"></th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br /><br /><nav>
            <ul class="pagination" style="padding-left: 30px">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <br />
    <br />
    <div class="panel panel-primary" style="margin: auto; width: 70%; ">
        <div class="panel-heading">
            <h3 class="panel-title">Event Logs::</h3>
        </div><br /><br /><br />
    </div>

</body>

</html>